<app-header></app-header>
<div class="card" *ngIf="product && !card"></div>

<div class="card">
    <div class="card-description">   
        <img width="200px" height="200px" [src]="product?.img">
        <h2>Detalhes do aluno {{ product?.id}} </h2>
        <p>Nome: <b>{{ product?.name }}</b></p>
        <p>Descrição: {{ product?.description }}</p>
        <p>Quantidade: {{ product?.quantity }}</p>
        <p>Data entrada: {{ product?.inclusionDate | date }}</p>
        <p>Validade: {{ product?.Validity| currency: 'BRL'}}</p>
        <p>Disponivel? <b>{{ product?.validRegistration ? 'Sim' : 'Não' }}</b></p>
    </div>
</div>

<app-footer></app-footer>