<app-header></app-header>
<div class="card" *ngIf="product && !card"></div>

<div class="card">
    <div class="card-description">   
        <img width="200px" height="200px" [src]="product?.img">
        <h3>Detalhes do produto {{ product?.id}} </h3>
        <p> <b>{{ product?.name }}</b></p>
        <p>{{ product?.description }}</p>
        <p>Preço: <b>{{ product?.Value | currency: 'BRL' }}</b></p>
        <p>Quantidade disponivel: {{ product?.quantity }} un.</p>
        <p>Data entrada: {{ product?.inclusionDate | date }}</p>
        <p>Validade: {{ product?.Validity | date}}</p>
        <h4 class="tint"
        [ngClass]="{'color-orange':product?.completed,'color-red': !product?.completed}"
        (click) ="updatecompleto()">
        {{ product?.completed?'Disponivel' : 'Indisponivel' }}</h4>
    </div>
</div>

<app-footer></app-footer>