app-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.card {
    max-width: 230px;
    height: 570px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex: 1;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgb(133, 133, 255);
    border-radius: 5px 5px;
    padding: 16px;
    margin-left: 620px;
    margin-right: 500px;
    .card-description {
        color: black;
        margin: 20px 10px;
    }
    
    
}

.card:hover {
    box-shadow: 10px 5px 5px rgb(133, 133, 255);
}


.color-red{
    background-color: red;
}
.color-orange{
    background-color: blue;
}

.tint{   color: black;
        padding: 10px;
        cursor: pointer;
        border-radius: 500px 500px;
}
.details {
    color: black;
    background-color: rgb(255, 68, 0);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 500px 500px;
    padding: 10px
}