<app-header></app-header>
<div class="card">
    <h3>Bem vindo! Digite seu usuário/senha para acessar o sistema!</h3>
    <div class="card-description" >
        <h3>E-mail ou Login:  
            <input type="email"[(ngModel)]="email" placeholder="Digite e-mail ou Login"> 
        </h3> 
        <h3>Senha: 
            <input type="password" [(ngModel)]="password" placeholder="Digite sua senha"> 
        </h3> 
        <p class="erro" *ngIf="error">Usuário/senha inválidos, tente novamente!</p>
    </div>
    <h2>
        <button class="primary-button"
            type="button"
            [disabled]="!email || !password" (click)="authenticate()" >Entrar</button>
    </h2>
</div>
<app-footer></app-footer>
